{% extends "layout.html.twig" %}

{% block content %}
	<form action="{{ app.url_generator.generate('registrar_item') }}" method="post" name="cliente">
		<table style ="margin: 0 auto;", "text-align:center;">
			<tr>
				<td><p class="s" align="right">ID del Cliente: </p></td>
				<td><input type="text" size="36" name="id_cliente" id="id_cliente" value="{% if id_cliente is defined %}{{ id_cliente }}{% endif %}" required></td>
	        </tr>
			<tr>
				<td><p class="s" align="right">Clave: </p></td>
				<td><input type="text" size="36" name="clave" id="clave" value="{% if clave is defined %}{{ clave }}{% endif %}" required></td>
			</tr>
			<tr>					
				<td><center><input type="submit" id="boton" name="btn_registrar" value="Entrar"></center></td>
			</tr>
		</table>
	</form>